#blog_detail{
	padding-top: 50px;
    background: #F3F3F3;
}

.blog-name{
	position: absolute;
    bottom: 70px;
}

.blog-name h3{
	    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    color: #fff;
}

.carousel-item{
	    background-size: cover;
    background-position: center;
    background-image: url('../blog_imgs/IMG_2941.JPG');
    width: 100%;
    height: 100%;
}

#carousel-blog-imgs{
	margin-bottom: 20px;
}

#carousel-blog-imgs img{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.blog_content{
	/*color: #e1e1e1;*/
	/*padding: 20px 0;*/
}

.blog_content img{
	width: 100%;
}

.blog_right{
	padding: 0 15px;
}

.blog_right .title{
	margin-top: 0;
	color: #337ab7;
	font-size: 25px;
}

.other-blogs{
	list-style-type: none;
    padding-left: 0px;
}

.other-blogs li{
	font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #e3e3e3;
    padding: 10px 0px 0px 15px;
}

.other-blogs a{
	margin-left: 5px;
}

.other-blogs a:hover{
	text-decoration: none;
}

.other-blogs span{
	font-weight: 500;
    color: rgba(0, 0, 0, 0.44);
}

@media(min-width: 320px){
    #carousel-blog-imgs img{
		min-height: 300px;
		max-height: 300px;
	}
}

@media(min-width: 768px){
    #carousel-blog-imgs img{
		max-height: 500px;
		min-height: 500px
	}

	.blog_left{
		padding-right: 0px;
	}
}
