<div class="about-img-wapper text-center">
    <h1>About Us</h1>  
</div>
<div class="container about">
    <!-- Intro Content -->
    <div class="row margin_0">
        <!-- <div class="col-md-6" style="padding-top: 30px;">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div> -->
        <div class="col-md-12">
            <h2 class="title">About Modern Business</h2>
            <div ng-bind-html="about.content"></div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row margin_0">
        <div class="col-lg-12">
            <h2 class="page-header title">Our Team</h2>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="imgs/IMG_0937.JPG" alt="">
                <div class="caption">
                    <h3>AJ Tuan Hoang<br>
                        <small>Tour Guide</small>
                    </h3>
                   
                    <ul class="list-inline">
                        <li><a href="skype:tuan.hm2501?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84 938 144 236"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:tuan.hoang@tkvacation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="imgs/IMG_3670.JPG" alt="">
                <div class="caption">
                    <h3>Diem Le<br>
                        <small>Air Ticket</small>
                    </h3>
                
                    <ul class="list-inline">
                        <li><a href="skype:terasa_le-nguyen?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84938924242"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:diem.le@tkvacation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="imgs/dung.tran.jpg" alt="">
                <div class="caption">
                    <h3>Dung Tran<br>
                        <small>Tour Guide</small>
                    </h3>
                
                    <ul class="list-inline">
                        <li><a href="skype:live:c0dc73b7109c97a5?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84903982268"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:dung.tran@tkvacation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>