<link href="css/blog.css?version=1.2" rel="stylesheet">
<div class="about-img-wapper text-center">
    <h1>Blogs</h1>  
</div>

<div id="blog">
	<div class="container padding_30">
		<div class="row maring_0">
			<div class="col-md-12">

				<div class="row item" ng-repeat="blog in blogs">
					<div class="col-md-5 col-sm-4 col-xs-12 item_img">
						<a href="#!/blog/{{blog.id}}">
							<div class="img" ng-style="{'background-image': 'url(' + blog.blog_img + ')'}"></div>
						</a>
					</div>
					<div class="col-md-7 col-sm-8 col-xs-12 item_detail">
						<div>
							<p class="item_header">
							<i class="fa fa-clock-o"></i>

							<label>{{blog.date_created}}</label></p>
						</div>
						<a class="blog_name" href="#!/blog/{{blog.id}}">{{blog.blog_name}}</a>
						<div class="item_detail_text" ng-bind-html="blog.overview | limitTo: 550">
							<span ng-if="blog.overview.length > 500">...</span>
						</div>

						<div class="item_bottom">
							<a href="#!/blog/{{blog.id}}">READ MORE...</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row maring_0 text-right" ng-if="pages.totalPage > 1">
			<div class="col-md-12">
			<nav aria-label="Page navigation">
			  	<ul class="pagination blog_pagination">
				<!--     <li>
				      	<a href="#" aria-label="Previous">
				        	<span aria-hidden="true">&laquo;</span>
				      	</a>
				    </li> -->
				    <li ng-repeat="p in pages track by $index" ng-class="$index + 1 == currentPage ? 'active' : ''">
				    	<a href="#!/blogs?page={{$index + 1}}">{{$index+1}}</a>
				    </li>
				    <!-- <li>
				      	<a href="#" aria-label="Next">
				        	<span aria-hidden="true">&raquo;</span>
				      	</a>
				    </li> -->
			  	</ul>
			</nav>
			</div>
		</div>
	</div>
</div>