<link href="css/blog_detail.css?version=1.2" rel="stylesheet">
<div class="about-img-wapper text-left">
	 <div class="container">
    	<div class="row padding_30">
    		<div class="blog-name">
    			<h1>{{blog.blog_name}}</h1>
    			<h3>{{blog.date_created}}</h3>
    		</div>
    	</div>
    </div>
</div>
<div id="fb-root"></div>

<script type="text/javascript">

	 window.fbAsyncInit = function() {
            FB.init({
              appId            : '1365901416838828',
              autoLogAppEvents : true,
              xfbml            : true,
              status           : true,
              version          : 'v2.4'
            });
            FB.AppEvents.logPageView();
        };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>  
<div id="blog_detail">
	<div class="container padding_30">
		<div class="row ">
			<div class="col-md-8 col-sm-12 col-xs-12 margin_0 blog_left">
				<div id="carousel-blog-imgs" class="carousel slide" data-ride="carousel" ng-show="imgs.length > 0">
				  <!-- Indicators -->
				  	<ol class="carousel-indicators">
					    <li data-target="#carousel-blog-imgs" data-slide-to="$index+1" ng-repeat="item in imgs" ng-class="$first ? 'active': ''"></li>
				  	</ol>

				  	<!-- Wrapper for slides -->
				  	<div class="carousel-inner" role="listbox">
					    <div class="item" ng-repeat="img in imgs" ng-class="$first ? 'active': ''">
					    	<!-- <div class="carousel-item"></div> -->
					      	<img ng-src="{{img.url}}" alt="TK Vacation - {{blog.blog_name}}">
					      	<div class="carousel-caption">
					        	
					      	</div>
					    </div>
				  	</div>

				  	<!-- Controls -->
				  	<a class="left carousel-control" href="javascript:void(0)" ng-click="prevCarouel()" role="button" data-slide="prev" title="TK Vacation - {{blog.blog_name}}">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
				  	</a>
				  	<a class="right carousel-control" href="javascript:void(0)" ng-click="nextCarouel()" role="button" data-slide="next" title="TK Vacation - {{blog.blog_name}}">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
				  	</a>
				</div>
				<div class="blog_content" ng-bind-html="blog.overview">
					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 margin_0 blog_right">
				<!-- <div style="background-color: #e3e3e3; padding: 0 5px;">
					<div class="fb-comments" fb-comment-box data-href="{{fbcomments}}" data-width="100%" data-numposts="5"></div>	
				</div> -->

				<h2 class="title">Other blogs</h2>
				<p ng-show="otherBlogs.length == 0">Don't have any blogs.</p>	
				<ul class="other-blogs">
					<li ng-repeat="item  in otherBlogs">
						<p><span>{{item.date_created}}</span><a title="TK Vacation - {{item.blog_name}}" href="#!/blog/{{item.id}}">{{item.blog_name}}</a></p>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>