<link href="css/search.css" rel="stylesheet">
<div class="tour-img-wapper">
    <div class="container">
    	<div class="row padding_30">
    		<div class="tour-name text-center">
    			<h3>Search Tour</h3>
    		</div>
    	</div>
    </div>
</div>

<div class = "tours">
	<div class="container padding_30">
		<div class="row margin_0">
			<div class="col-md-3 col-sm-12 col-xs-12 search-banel">
				<div class="form-group">
			    	<label for="">Keywords</label>
			    	<input type="text" class="form-control" ng-model="searchObj.key">
			  	</div>
			  	<div class="form-group">
			    	<label for="">Destination</label>
			    	<div style="position: relative; ">
		                <select class="form-control" ng-model="searchObj.des">
		                    <option value="">Any</option>
		                    <option ng-repeat="item in destinations" value="{{item.des.id}}">{{item.des.title}}</option>
		                    
		                </select>
	                </div>
			  	</div>
			  	<div class="form-group">
			    	<label for="">Duration</label>
			    	<div style="position: relative; ">
		                <select class="form-control" ng-model="searchObj.period">
		                   	<option value="0">Any</option>
		                   	<option ng-repeat="i in durations" value="{{i.id}}" ng-selected="i.id == searchObj.period" >{{i.text}}</option>
		                </select>
	                </div>
			  	</div>
			  	<div class="form-group">
			    	<label for="">Price</label>
			    	<div style="position: relative; ">
		                <select class="form-control" ng-model="searchObj.price">
		                   	<option value="0">Any</option>
		                   	<option ng-repeat="p in prices" value="{{p.id}}">{{p.text}}</option>
		                </select>
	                </div>
			  	</div>
			  	<div class="form-group text-right">
			  		<a href="#!/search?page=1">Clear search</a>
			  	</div>
			  	<div class="form-group">
			  	 	<input class="form-control search-btn" type="button" value="SEARCH" name="" ng-click="search()">
			    	<!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
			  	</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12 tours-des">
				<div class="row" ng-show="tours.length == 0">
					<div class="alert alert-success text-center">
					  	Data is not found.
					</div>
				</div>

				<div class="row item" ng-repeat="item in tours" ng-show="tours.length > 0">
					<div class="col-md-5 col-sm-5 col-xs-12 padding_0 item_img">
						<a href="#!/tour/{{item.id}}" title="">
							<img ng-src="{{item.img}}" alt="">
						</a>	
					</div>
					<div class="col-md-5 col-sm-5 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/{{item.id}}" title="">{{item.name}}</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							{{item.period}}
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : {{item.availability}}
						</p>
						<div class="itinerary" ng-bind-html="item.overview">
							
						</div>
						
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">{{item.price | currency}}</p>
							<p class="price-value-vnd">{{item.price_vnd | currency: "VND ":0}}</p>
							<!-- <input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS"> -->
							<a href="#!/tour/{{item.id}}" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
				<div class="row text-right" ng-show="pagin.length > 1">
					<ul class="pagination search_pagination">
						<li ng-repeat="p in pagin track by $index" ng-class="$index + 1 == currentPage ? 'active' : ''">
							<a href="javascript:void(0);" ng-click="navigate($index + 1);">{{$index + 1}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</div>