<link href="css/tour_detail.css?version=1.2" rel="stylesheet">
<style type="text/css">
	.message_error{
		color: #a94442;
	    text-align: left;
	    display: block;
	    font-size: 13px;
	    margin-top: 2px;
	}

	.message_success{
		color: #3c763d;
	}
</style>
<div class="tour-img-wapper" ng-style="{'background-image': 'url(' + tour.img + ')'}">
    <div class="container">
    	<div class="row padding_30">
    		<div class="tour-name">
    			<h3>{{tour.name}}</h3>
    		</div>
    	</div>
    </div>
</div>
<div class="tour">
	<div class="container">
		<div class="row padding_30">
			<div class="col-md-12 info">
				<div class="row tour-info-top">
					<div class="col-md-6 col-sm-6 col-xs-12 text-left padding_0">
						<p>
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>{{tour.period}} {{tour.period > 1 ? 'days' : 'day'}}</span>
						</p>
						
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 text-left padding_0">
						<p>
							<i class="fa fa-calendar" aria-hidden="true"></i>						
							Availability : {{tour.availability}}
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row padding_30">
			<div class="col-md-9">
				<ul class="nav nav-tabs natigate-detail-info" role="tablist">
				    <li role="presentation" class="active"><a data-target="#overview" ng-click="showOverviewTab()" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
				    <li role="presentation"><a data-target="#itineray" ng-click="showItinerayTab()" aria-controls="itineray" role="tab" data-toggle="tab">Itineray</a></li>
				    <li role="presentation"><a data-target="#prices" ng-click="showPriceTab()" aria-controls="prices" role="tab" data-toggle="tab">Price</a></li>
				</ul>

				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane fade in active info-overview" id="overview">
				    	<h6>
						<i class="fa fa-file-text-o" aria-hidden="true"></i>Overview</h6>
						<div class="info-overview-content" ng-bind-html="tour.overview">
				    	</div>
				    </div>
				    <div role="tabpanel" class="tab-pane fade info-itenirary" id="itineray">
				    	<h6>
						<i class="fa fa-bus" aria-hidden="true"></i>Itinerary</h6>
						<div class="info-overview-content">
							<div ng-repeat="itinerary in itineraries">
								<div>
									<h4>
										<span>Day {{$index+1}}</span>
										{{itinerary.title}}
									</h4>
									<p ng-bind-html="itinerary.content">
									
									</p>
								</div>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane fade info-price" id="prices">
				    	<h6>
						<i class="fa fa-usd" aria-hidden="true"></i>Price</h6>
						<div class="price">
							<table class="table-bordered">
								<tr>
									<td rowspan="2"><h4>Price per person</h4></td>
									<td class="text-center">{{tour.price | currency}}</td>
								</tr>
								<tr>
									<td class="text-center">{{tour.price_vnd | currency: "VND "}}</td>
								</tr>
							</table>
						</div>
						<div class="info-overview-content" ng-bind-html="tour.price_detail"></div>
				    </div>
				
				</div>
			</div>
			<div class="col-sm-3 booking">
				<form name="booking_form">
					<div class="row margin_0">
						<div class="col-md-2 col-md-sm-2 col-xs-2">
							<i class="fa fa-calendar"></i>	
						</div>
						<div class="col-md-10 col-md-sm-10 col-xs-10 start-date-value">
							<input type="text" class="num-of-people-input" value="" name="start_of_date" ng-model="booking.start_date" id="datepicker" required>
							<span ng-show="submitted && booking_form.start_of_date.$error.required" class="message_error">
						      	Please select start date.
						    </span>
							
						</div>
					</div>
					<div class="row margin_0">
						<div class="col-md-2 col-md-sm-2 col-xs-2">
							<i class="fa fa fa-users"></i>
						</div>
						<div class="col-md-10 col-md-sm-10 col-xs-10">
							<input type="number" class="num-of-people-input" name="number_of_people" placeholder="Number of people" ng-model="booking.number_of_people" required>
							<span ng-show="submitted && booking_form.number_of_people.$error.required" class="message_error">
						      	Please enter number of people.
						    </span>
						</div>
					</div>
					<div class="row margin_0 booking-footer">
						<div class="col-md-2 col-md-sm-2 col-xs-2">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="col-md-10 col-md-sm-10 col-xs-10">
							
							<input type="button" class="submit" name="" value="PROCEED BOOKING" ng-click="bookingTour()">
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>