<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Name" readonly="true" ng-model="customizetour.name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" placeholder="email" readonly="true" ng-model="customizetour.email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Phone number" readonly="true" ng-model="customizetour.phone_number">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Nationality</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Nationality" readonly="true" ng-model="customizetour.nationality">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Destination</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Destination" readonly="true" ng-model="customizetour.destination">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Estimate Start Day</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Estimate Start Day" readonly="true" ng-model="customizetour.estimate_date_start"> 
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Estimate Duration</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Estimate Duration" readonly="true" ng-model="customizetour.estimate_duration">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Ideas</label>
    <div class="col-sm-6">
      <textarea class="form-control" rows="5" readonly="true" ng-model="customizetour.ideas"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="#!/customize_tour" class="btn btn-default">Back</a>
    </div>
  </div>
</form>