<table class="table-bordered" style="width: 100%;">
	<thead class="text-center">
		<td width="5%"><strong>#</strong></td>
		<td width="25%"><strong>Name</strong></td>
		<td width="15%"><strong>Period (days)</strong></td>
		<td width="10%"><strong>Availability</strong></td>
		<td width="20%"><strong>Price (USD/VND)</strong></td>
		<td width="15%"><strong>Date Created</strong></td>
		<td width="5%"></td>
		<td width="5%"></td>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">1</td>
			<td>
				Vung Tau
			</td>
			<td class="text-center">2</td>
			<td class="text-center">20 July</td>
			<td class="text-center">$ 150 / VND 2.000.000</td>
			<td class="text-center">20, July, 2017</td>
			<td class="text-center">Detail</td>
			<td class="text-center">Delete</td>
		</tr>
		<tr>
			<td class="text-center">1</td>
			<td>
				Vung Tau
			</td>
			<td class="text-center">2</td>
			<td class="text-center">20 July</td>
			<td class="text-center">$ 150 / VND 2.000.000</td>
			<td class="text-center">20, July, 2017</td>
			<td class="text-center">Detail</td>
			<td class="text-center">Delete</td>
		</tr>
		<tr>
			<td class="text-center">1</td>
			<td>
				Vung Tau
			</td>
			<td class="text-center">2</td>
			<td class="text-center">20 July</td>
			<td class="text-center">$ 150 / VND 2.000.000</td>
			<td class="text-center">20, July, 2017</td>
			<td class="text-center">Detail</td>
			<td class="text-center">Delete</td>
		</tr>
		<tr>
			<td class="text-center">1</td>
			<td>
				Vung Tau
			</td>
			<td class="text-center">2</td>
			<td class="text-center">20 July</td>
			<td class="text-center">$ 150 / VND 2.000.000</td>
			<td class="text-center">20, July, 2017</td>
			<td class="text-center">Detail</td>
			<td class="text-center">Delete</td>
		</tr>
		<tr>
			<td class="text-center">1</td>
			<td>
				Vung Tau
			</td>
			<td class="text-center">2</td>
			<td class="text-center">20 July</td>
			<td class="text-center">$ 150 / VND 2.000.000</td>
			<td class="text-center">20, July, 2017</td>
			<td class="text-center">Detail</td>
			<td class="text-center">Delete</td>
		</tr>
	</tbody>
</table>